.container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: .5fr .5fr 6fr .5fr;
  

}

#navbar {
grid-column: 1 / 3;

}

#sidebar {
  writing-mode: vertical-rl;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  grid


}

#title {
grid-column: 2 / 3;
grid-row: 2 / 3;
}


#content {
grid-column: 2 / 3;
grid-row: 3 / 4;
}

#footer {
grid-column: 1 / 3;
}
