.container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: .5fr .5fr 6fr .5fr;
  grid-template-areas: "n n" "s t" "s c""f f";
  

}

#navbar {
grid-area: n;
}

#sidebar {
  writing-mode: vertical-rl;
grid-area: s;
  
}

#title {
grid-area: t;
}


#content {
grid-area: c;
}

#footer {
grid-area: f;
}
